# Certificados y ejecutables generados por mkcert/Traefik
app/traefik/certs/
app/traefik/*.pem
app/traefik/*.exe

# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo

# Config de VS Code
.vscode/

# Archivos de entorno
.env
!.env.example

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
# Archivos de Backups
backups/