psycopg2-binary==2.9.11
Flask
Flask-SQLAlchemy
SQLAlchemy==2.0.40
python-dotenv==1.1.0
flask-marshmallow==0.15.0
Flask-Migrate==4.1.0
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
weasyprint==65.1 #Tranforma texto a PDF
python-odt-template==0.5.1
docxtpl==0.20.0
Flask-Hashids==1.0.3 #Usa otra libreria para generar IDs únicos
Flask-Cors==3.0.10 #Manejo de CORS
openpyxl==3.1.5 # Exportar Excel
reportlab==4.2.5
PyPDF2==3.0.1
Flask-WTF==1.2.2 # CSRF y formularios seguros
Flask-Login==0.6.3 # Autenticación basada en sesión
cloudinary==1.41.0 # Integración CDN imágenes